In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#read dataset
houses = pd.read_csv('/Volumes/Untitled/MDDB/02-03 Artificial Intelligence for Business/Raw data/housing_data.csv')

In [ ]:
        #read dataset
        #houses = pd.read_csv('/Volumes/Untitled/MDDB/02-03 Artificial Intelligence for Business/Raw data/housing_data.csv')
        
        # replace nan
        houses['aantalBadkamers'] = houses['aantalBadkamers'].replace(np.NaN, houses["aantalBadkamers"].mean())
        houses['koopPrijs'] = houses['koopPrijs'].replace(np.NaN, houses["koopPrijs"].mean())

        #remove outlier oppervlakte (1)
        meansurface = houses['oppervlakte'].mean()
        houses['oppervlakte'].replace(1, meansurface, inplace=True)

        # remove part of the output
        #houses['bouwjaar'] = [i[:4] for i in houses['bouwjaar']]
        houses['bouwjaar'] = houses['bouwjaar'].str[-4:]
        houses['postcode_numbers'] = [i[:4] for i in houses['postcode']] #store in new column
        
        # categorieObject 0 = woonhuis, 1 = appartement
        houses['categorieObject'].replace('<{Woonhuis}>', 0, inplace=True)
        houses['categorieObject'].replace('<{Appartement}>', 1, inplace=True)

        # encode energy labels
        houses['energielabelKlasse'] = houses['energielabelKlasse'].fillna(0)
        houses['energielabelKlasse'].replace('A+++++', 1, inplace=True)
        houses['energielabelKlasse'].replace('A++++', 2, inplace=True)
        houses['energielabelKlasse'].replace('A+++', 3, inplace=True)
        houses['energielabelKlasse'].replace('A++', 4, inplace=True)
        houses['energielabelKlasse'].replace('A+', 5, inplace=True)
        houses['energielabelKlasse'].replace('A', 6, inplace=True)
        houses['energielabelKlasse'].replace('B', 7, inplace=True)
        houses['energielabelKlasse'].replace('C', 8, inplace=True)
        houses['energielabelKlasse'].replace('D', 9, inplace=True)
        houses['energielabelKlasse'].replace('E', 10, inplace=True)
        houses['energielabelKlasse'].replace('F', 11, inplace=True)
        houses['energielabelKlasse'].replace('G', 12, inplace=True)

        # split soortWoning and encode soortwoning1
        houses[['woningtype1','woningtype2']] = houses.soortWoning.str.split("}>",1,expand=True)
        houses['woningtype1'] = houses['woningtype1'].str[2:]

        houses['woningtype1'].replace('woonboot', 0, inplace=True)
        houses['woningtype1'].replace('eengezinswoning', 1, inplace=True)
        houses['woningtype1'].replace('tussenverdieping', 2, inplace=True)
        houses['woningtype1'].replace('woonboerderij', 3, inplace=True)
        houses['woningtype1'].replace('portiekflat', 4, inplace=True)
        houses['woningtype1'].replace('galerijflat', 5, inplace=True)
        houses['woningtype1'].replace('villa', 6, inplace=True)
        houses['woningtype1'].replace('beneden + bovenwoning', 7, inplace=True)
        houses['woningtype1'].replace('bovenwoning', 8, inplace=True)
        houses['woningtype1'].replace('benedenwoning', 9, inplace=True)
        houses['woningtype1'].replace('maisonnette', 10, inplace=True)
        houses['woningtype1'].replace('herenhuis', 11, inplace=True)
        houses['woningtype1'].replace('penthouse', 12, inplace=True)
        houses['woningtype1'].replace('bungalow', 13, inplace=True)
        houses['woningtype1'].replace('landhuis', 14, inplace=True)
        houses['woningtype1'].replace('grachtenpand', 15, inplace=True)
        houses['woningtype1'].replace('dubbel benedenhuis', 16, inplace=True)
        houses['woningtype1'].replace('landgoed', 17, inplace=True)
        houses['woningtype1'].replace('studentenkamer', 18, inplace=True)
        houses['woningtype1'].replace('stacaravan', 19, inplace=True)
        houses['woningtype1'].replace('portiekwoning', 20, inplace=True)

        # change dtype
        houses['publicatieDatum'] = pd.to_datetime(houses['publicatieDatum'])
        houses['datum_ondertekening'] = pd.to_datetime(houses['datum_ondertekening'])
        
        #Round # of bathrooms
        houses['aantalBadkamers']=houses['aantalBadkamers'].round(decimals=0)
        
        # set threshold house price 50000
        houses = houses.drop(houses[houses['koopPrijs']<=50000].index)

In [ ]:
del houses['globalId.1'] #redundant
del houses['soortWoning'] # this one is encoded --> redundant
del houses['perceelOppervlakte']

In [ ]:
#check missing values
num_missing = houses.isnull().sum()
percent = num_missing / houses.isnull().count()

df_missing = pd.concat([num_missing, percent], axis=1, keys=['MissingValues', 'Fraction'])
df_missing = df_missing.sort_values('Fraction', ascending=False)
df_missing[df_missing['MissingValues'] > 0]

In [ ]:
        # rename column names to English 
        houses.columns = ['globalId', 'publicationDate', 'zipcode', 'sellingPrice', 'description', 
        'categoryObject', 'constructionYear', 'garden', 'office', 'rooms', 'bathrooms', 'energyLabel', 
        'livingArea', 'signDate', 'zipcode_numbers', 'houseType1', 'houseType2']

In [ ]:
houses.to_csv('/Volumes/Untitled/MDDB/02-03 Artificial Intelligence for Business/Raw data/clean.csv', sep=';', index=False)

In [5]:
houses.dtypes

globalId                   int64
publicatieDatum           object
postcode                  object
koopPrijs                float64
volledigeOmschrijving     object
soortWoning               object
categorieObject           object
bouwjaar                  object
indTuin                    int64
perceelOppervlakte       float64
kantoor_naam_MD5hash      object
aantalKamers               int64
aantalBadkamers          float64
energielabelKlasse        object
globalId.1                 int64
oppervlakte                int64
datum_ondertekening       object
dtype: object

In [4]:
houses

,globalId,publicatieDatum,postcode,koopPrijs,volledigeOmschrijving,soortWoning,categorieObject,bouwjaar,indTuin,perceelOppervlakte,kantoor_naam_MD5hash,aantalKamers,aantalBadkamers,energielabelKlasse,globalId.1,oppervlakte,datum_ondertekening
0,4388064,2018-07-31,1774PG,139000.0,"Ruimte, vrijheid, en altijd het water en de we...",<{woonboot}> <{vrijstaande woning}>,<{Woonhuis}>,1971-1980,1,NaN,09F114F5C5EC061F6230349892132149,3,NaN,NaN,4388064,62,2018-11-12
1,4388200,2018-09-24,7481LK,209000.0,Verrassend ruime tussenwoning nabij het centru...,<{eengezinswoning}> <{tussenwoning}>,<{Woonhuis}>,1980,1,148.0,6A91BF7DB06A8DF2C9A89064F28571E7,5,1.0,B,4388200,136,2018-08-30
2,4399344,2018-08-02,1068MS,267500.0,- ENGLISH TRANSLATION - \n\nOn the 21st of Sep...,<{tussenverdieping}> (<{appartement}>),<{Appartement}>,2001-2010,0,NaN,E983FEDC63D87BF61AE952D181C8FD17,3,NaN,NaN,4399344,70,2018-11-23
3,4400638,2018-08-04,5628EN,349000.0,Wonen in een zeer royaal bemeten geschakelde 2...,<{eengezinswoning}> <{geschakelde 2-onder-1-ka...,<{Woonhuis}>,1973,1,244.0,02BC26608B8B1A0888D3612AC7A5DB5C,5,NaN,NaN,4400638,144,2018-12-14
4,4401765,2018-08-05,7731TV,495000.0,Landgoed Junne is een eeuwenoud landgoed en li...,<{woonboerderij}> <{vrijstaande woning}>,<{Woonhuis}>,1900,0,4500.0,F56B2705CE24B8D78A68481ED1B276CB,8,1.0,NaN,4401765,323,2018-12-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211612,4613507,2018-12-31,9791GD,159000.0,Ruime eengezinswoning aangeboden aan de rand v...,<{eengezinswoning}> <{tussenwoning}>,<{Woonhuis}>,1974,1,195.0,AB928B88F4860C427BB7C6A27D6F2642,5,NaN,NaN,4613507,116,2019-03-07
211613,4613532,2018-12-31,6431GT,179000.0,Nabij centrum van Hoensbroek met al haar voorz...,<{eengezinswoning}> <{geschakelde 2-onder-1-ka...,<{Woonhuis}>,1995,1,160.0,4271E4C370DF497EE3BB23B3AED3E292,4,1.0,NaN,4613532,84,2019-01-17
211614,4613537,2018-12-31,4051EW,391500.0,Ook de kans aangrijpen om te mogen wonen in de...,<{bungalow}> <{vrijstaande woning}> (<{semi-bu...,<{Woonhuis}>,1948,1,465.0,AB928B88F4860C427BB7C6A27D6F2642,5,NaN,NaN,4613537,99,2019-08-03
211615,4613566,2018-12-31,4043GG,375000.0,"BIEDEN VANAF € 375.000,= kosten koper\nHet uit...",<{eengezinswoning}> <{2-onder-1-kapwoning}>,<{Woonhuis}>,2006,1,300.0,59A3951B92EB2334DC7295CEEA0FB547,7,1.0,A,4613566,172,2019-04-08
211616,4577856,2018-12-12,5036XA,395000.0,Type Lariks\n\nDe twee-onder-een-kapwoningen t...,<{eengezinswoning}> <{2-onder-1-kapwoning}>,<{Woonhuis}>,2019,1,NaN,A3F8C9345E47A902FC0CE06865993E9D,6,1.0,NaN,4577856,156,2019-01-30

In [ ]:
houses.describe()

In [6]:
dummytest = houses['energielabelKlasse']

In [7]:
dummytest

0         NaN
1           B
2         NaN
3         NaN
4         NaN
         ...
211612    NaN
211613    NaN
211614    NaN
211615      A
211616    NaN
Name: energielabelKlasse, Length: 211617, dtype: object

In [8]:
pd.get_dummies(dummytest, prefix = ['energielabelKlasse','SoortWoning'])

,['energielabelKlasse']_A,['energielabelKlasse']_A+,['energielabelKlasse']_A++,['energielabelKlasse']_A+++,['energielabelKlasse']_A++++,['energielabelKlasse']_A+++++,['energielabelKlasse']_B,['energielabelKlasse']_C,['energielabelKlasse']_D,['energielabelKlasse']_E,['energielabelKlasse']_F,['energielabelKlasse']_G
0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
211612,0,0,0,0,0,0,0,0,0,0,0,0
211613,0,0,0,0,0,0,0,0,0,0,0,0
211614,0,0,0,0,0,0,0,0,0,0,0,0
211615,1,0,0,0,0,0,0,0,0,0,0,0
211616,0,0,0,0,0,0,0,0,0,0,0,0