In [1]:
import pandas as pd
import numpy as np

In [2]:
#read dataset
features = pd.read_csv('/Volumes/Untitled/MDDB/02-03 Artificial Intelligence for Business/Raw data/clean.csv', sep=';')

In [3]:
#Calculate object age

#houses['constructionYear'] = [i[:4] for i in houses['constructionYear']]
#houses['constructionYear'] = pd.to_numeric(houses['constructionYear'])
features['objectAge'] = 2018 - features['constructionYear']

In [4]:
#Calculate sellingtime

features['publicationDate'] = pd.to_datetime(features['publicationDate'])
features['signDate'] = pd.to_datetime(features['signDate'])

features['sellingtime'] = features['signDate'] - features['publicationDate']
features['sellingtime'] = features['sellingtime'].dt.days.astype('int16')


#Add price per square meter
#Add garden sizen?

In [ ]:
#features['sellingtime'] = df.loc[df['employrate'] > 70, 'employrate'] = 7
#features['sellingtime'] = features['sellingtime'].loc[(features['sellingtime'] < 0)] = 0
#features['sellingtime'] = np.where(features['sellingtime'] < 0, 1, features['sellingtime'])
#features['sellingtime'] = features.loc[features['sellingtime'] < 0, 'sellingtime'] = 0
#features['sellingtime'] = features['sellingtime'].replace(<0, 0, inplace=True)

In [5]:
del features['globalId']
del features['publicationDate']
del features['zipcode']
del features['description']
del features['office']
del features['signDate']
del features['houseType2']
del features['constructionYear']
del features['zipcode_numbers']

In [ ]:
features.dtypes

In [6]:
features.to_csv('/Volumes/Untitled/MDDB/02-03 Artificial Intelligence for Business/Raw data/features.csv', sep=';', index=False)

In [7]:
features

,sellingPrice,categoryObject,garden,rooms,bathrooms,energyLabel,livingArea,houseType1,objectAge,sellingtime
0,139000.0,0,1,3,1.0,0,62.0,0,38,104
1,209000.0,0,1,5,1.0,7,136.0,1,38,-25
2,267500.0,1,0,3,1.0,0,70.0,2,8,113
3,349000.0,0,1,5,1.0,0,144.0,1,45,132
4,495000.0,0,0,8,1.0,0,323.0,3,118,123
...,...,...,...,...,...,...,...,...,...,...
211578,159000.0,0,1,5,1.0,0,116.0,1,44,66
211579,179000.0,0,1,4,1.0,0,84.0,1,23,17
211580,391500.0,0,1,5,1.0,0,99.0,13,70,215
211581,375000.0,0,1,7,1.0,6,172.0,1,12,98
211582,395000.0,0,1,6,1.0,0,156.0,1,-1,49